body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: bisque;
    input{padding: 10px;}
    button {
        padding: 10px 15px;
        li{margin: 5px 0;}
    }
}